#container { width: 800px; }

p {
    font-family: "Times New Roman", Georgia, Serif;
}

p {
  font-size: 10px;
}

p.normal {
    font-weight: normal;
}

p.normal {
    font-style: normal;
}

p.small {
    font-variant: small-caps;
}

p.small {
    line-height: 90%;
}