.container { width: 800px; }

p {
    font-family: "Times New Roman", Helvetica, Serif;
}

p {
  font-size: 13px;
}

p.normal {
    font-weight: normal;
}

p.normal {
    font-style: normal;
}


p.small {
    line-height: 90%;
}

.text-align-prop {
  text-align: justify;
}

.text-decoration-prop {
  text-decoration: line-through;
}

.text-indent-prop {
  text-indent: 20px;
}

.text-shadow-prop {
  text-shadow: 0px 0px 0px;
}

.letter-spacing-prop {
  letter-spacing: 3px;
}

.word-spacing-prop {
  word-spacing: 10px;
}